{% extends "base.html" %}

{% block content_block %}
<main class="container">
    <h1 class="grey-text text-lighten-2">Debug Mode: 
        {% if IN_DEBUG %}
        <span class="cyan-text text-accent-2">True</span>
        {% else %}
        <span class="orange-text text-darken-4">False</span>
        {% endif %}
    </h1>
    <h6 class="grey-text text-lighten-2"><i class="left material-icons">tv</i>tv</h6>
    <h6 class="grey-text text-lighten-2"><i class="left material-icons">live_tv</i>live_tv</h6>
    <h6 class="grey-text text-lighten-2"><i class="left material-icons">movie</i>movie</h6>
    <h6 class="grey-text text-lighten-2"><i class="left material-icons">theaters</i>theaters</h6>
    <h6 class="grey-text text-lighten-2"><i class="left material-icons">dvr</i>dvr</h6>
    <h6 class="grey-text text-lighten-2"><i class="left material-icons">apps</i>apps</h6>
    <h6 class="grey-text text-lighten-2"><i class="left material-icons">dashboard</i>dashboard</h6>
    <h6 class="grey-text text-lighten-2"><i class="left material-icons">view_module</i>view_module</h6>
    <h6 class="grey-text text-lighten-2"><i class="left material-icons">view_compact</i>view_compact</h6>
    <h6 class="grey-text text-lighten-2"><i class="left material-icons">video_library</i>video_library</h6>
    <h6 class="grey-text text-lighten-2"><i class="left material-icons">view_headline</i>view_headline</h6>
    <h6 class="grey-text text-lighten-2"><i class="left material-icons">view_list</i>view_list</h6>
    <h6 class="grey-text text-lighten-2"><i class="left material-icons">screen_share</i>screen_share</h6>
    <h6 class="grey-text text-lighten-2"><i class="left material-icons">storage</i>storage</h6>
    <h6 class="grey-text text-lighten-2"><i class="left material-icons">subscriptions</i>subscriptions</h6>
    <h6 class="grey-text text-lighten-2"><i class="left material-icons">add_to_queue</i>add_to_queue</h6>
    <h6 class="grey-text text-lighten-2"><i class="left material-icons">queue</i>queue</h6>
    <h6 class="grey-text text-lighten-2"><i class="left material-icons">toc</i>toc</h6>
    <h6 class="grey-text text-lighten-2"><i class="left material-icons">playlist_add</i>playlist_add</h6>
    <h6 class="grey-text text-lighten-2"><i class="left material-icons">playlist_add_check</i>playlist_add_check</h6>
    <h6 class="grey-text text-lighten-2"><i class="left material-icons">playlist_play</i>playlist_play</h6>
    <h6 class="grey-text text-lighten-2"><i class="left material-icons">account_box</i>account_box</h6>
    <h6 class="grey-text text-lighten-2"><i class="left material-icons">account_circle</i>account_circle</h6>
    <h6 class="grey-text text-lighten-2"><i class="left material-icons">contacts</i>contacts</h6>
    <h6 class="grey-text text-lighten-2"><i class="left material-icons">person</i>person</h6>
    <h6 class="grey-text text-lighten-2"><i class="left material-icons">person_outline</i>person_outline</h6>
    <div class="white-text">
        <h4 style="font-family: Audiowide" >Test TESTERONI testanoches.</h4>
        <h4 style="font-family: 'Black Ops One'" >Test TESTERONI testanoches.</h4>
        <h4 style="font-family: 'Fira Code'" >Test TESTERONI testanoches.</h4>
        <h4 style="font-family: 'Michroma'" >Test TESTERONI testanoches.</h4>
        <h4 style="font-family: 'Montserrat'" >Test TESTERONI testanoches.</h4>
        <h4 style="font-family: 'Orbitron'" >Test TESTERONI testanoches.</h4>
        <h4 style="font-family: 'Press Start 2P'" >Test TESTERONI testanoches.</h4>
        <h4 style="font-family: 'Roboto Mono'" >Test TESTERONI testanoches.</h4>
        <h4 style="font-family: 'Rubik'" >Test TESTERONI testanoches.</h4>
    </div>
</main>
{% endblock %}