{% extends "base.html" %}

{% block content_block %}
<main class="container">
    <h1 class="grey-text text-lighten-2">Debug Mode: 
        {% if IN_DEBUG %}
        <span class="cyan-text text-accent-2">True</span>
        {% else %}
        <span class="orange-text text-darken-4">False</span>
        {% endif %}
    </h1>
    <div class="switch">
        <label>
            Text
            <input id="icon-text-switch" type="checkbox">
            <span class="lever"></span>
            No Text
        </label>
    </div>
    <section id="icons">
        <div>
            <h6 class="grey-text text-lighten-2"><i class="left material-icons">tv</i><span>tv</span></h6>
        </div>
        <div>
            <h6 class="grey-text text-lighten-2"><i class="left material-icons">live_tv</i><span>live_tv</span></h6>
        </div>
        <div>
            <h6 class="grey-text text-lighten-2"><i class="left material-icons">movie</i><span>movie</span></h6>
        </div>
        <div>
            <h6 class="grey-text text-lighten-2"><i class="left material-icons">theaters</i><span>theaters</span></h6>
        </div>
        <div>
            <h6 class="grey-text text-lighten-2"><i class="left material-icons">dvr</i><span>dvr</span></h6>
        </div>
        <div>
            <h6 class="grey-text text-lighten-2"><i class="left material-icons">apps</i><span>apps</span></h6>
        </div>
        <div>
            <h6 class="grey-text text-lighten-2"><i class="left material-icons">dashboard</i><span>dashboard</span></h6>
        </div>
        <div>
            <h6 class="grey-text text-lighten-2"><i class="left material-icons">view_module</i><span>view_module</span></h6>
        </div>
        <div>
            <h6 class="grey-text text-lighten-2"><i class="left material-icons">view_compact</i><span>view_compact</span></h6>
        </div>
        <div>
            <h6 class="grey-text text-lighten-2"><i class="left material-icons">video_library</i><span>video_library</span></h6>
        </div>
        <div>
            <h6 class="grey-text text-lighten-2"><i class="left material-icons">view_headline</i><span>view_headline</span></h6>
        </div>
        <div>
            <h6 class="grey-text text-lighten-2"><i class="left material-icons">view_list</i><span>view_list</span></h6>
        </div>
        <div>
            <h6 class="grey-text text-lighten-2"><i class="left material-icons">screen_share</i><span>screen_share</span></h6>
        </div>
        <div>
            <h6 class="grey-text text-lighten-2"><i class="left material-icons">storage</i><span>storage</span></h6>
        </div>
        <div>
            <h6 class="grey-text text-lighten-2"><i class="left material-icons">subscriptions</i><span>subscriptions</span></h6>
        </div>
        <div>
            <h6 class="grey-text text-lighten-2"><i class="left material-icons">add_to_queue</i><span>add_to_queue</span></h6>
        </div>
        <div>
            <h6 class="grey-text text-lighten-2"><i class="left material-icons">queue</i><span>queue</span></h6>
        </div>
        <div>
            <h6 class="grey-text text-lighten-2"><i class="left material-icons">toc</i><span>toc</span></h6>
        </div>
        <div>
            <h6 class="grey-text text-lighten-2"><i class="left material-icons">playlist_add</i><span>playlist_add</span></h6>
        </div>
        <div>
            <h6 class="grey-text text-lighten-2"><i class="left material-icons">playlist_add_check</i><span>playlist_add_check</span></h6>
        </div>
        <div>
            <h6 class="grey-text text-lighten-2"><i class="left material-icons">playlist_play</i><span>playlist_play</span></h6>
        </div>
        <div>
            <h6 class="grey-text text-lighten-2"><i class="left material-icons">account_box</i><span>account_box</span></h6>
        </div>
        <div>
            <h6 class="grey-text text-lighten-2"><i class="left material-icons">account_circle</i><span>account_circle</span></h6>
        </div>
        <div>
            <h6 class="grey-text text-lighten-2"><i class="left material-icons">contacts</i><span>contacts</span></h6>
        </div>
        <div>
            <h6 class="grey-text text-lighten-2"><i class="left material-icons">person</i><span>person</span></h6>
        </div>
        <div>
            <h6 class="grey-text text-lighten-2"><i class="left material-icons">person_outline</i><span>person_outline</span></h6>
        </div>
    </section>
    <section id="fonts" class="white-text">
        <h4 style="font-family: Audiowide" >Test TESTERONI testanoches.</h4>
        <h4 style="font-family: 'Black Ops One'" >Test TESTERONI testanoches.</h4>
        <h4 style="font-family: 'Fira Code'" >Test TESTERONI testanoches.</h4>
        <h4 style="font-family: 'Michroma'" >Test TESTERONI testanoches.</h4>
        <h4 style="font-family: 'Montserrat'" >Test TESTERONI testanoches.</h4>
        <h4 style="font-family: 'Orbitron'" >Test TESTERONI testanoches.</h4>
        <h4 style="font-family: 'Press Start 2P'" >Test TESTERONI testanoches.</h4>
        <h4 style="font-family: 'Roboto Mono'" >Test TESTERONI testanoches.</h4>
        <h4 style="font-family: 'Rubik'" >Test TESTERONI testanoches.</h4>
    </section>
</main>
{% endblock %}