/* 
=================CSS Subheadings=================

[+] =Materialize colors=
[+] =html (overall)=
[+] =Cyber Grade (Color Scheme Classes)=
    [-] -Cyber Grade Inputs=
[+] =Neon Glows (Neon Light Effect Classes)=
[+] =Nav=
    [-] -Header=
        -HeaderLoginForm-
    [-] -SideNav=
        -SideLoginForm-
[+] =Registration Form=
[+] =List Builder=
    [-] -SearchBar=
    [-] -SearchResults=
    [-] -ShareModal=
[+] =List Manager=
    [-] -List Table=
    [-] -Slider Rows=
[+] =Elimination Room=
    [-] -UserList=
    [-] -MovieList=
    [-] -FinalModal=
[+] =Materialize Elements=
[+] =Animista=

=================================================
*/

/* [+] */
/*====================Materialize colors====================*/
:root {
    --grey_darken-4:#212121;
    --grey_lighten-2:#e0e0e0;
    --grey_darken-2:#616161;

    --cyan_accent-2:#18ffff;
    --blue_darken-2:#1976d2;
    --indigo_darken-4:#1a237e;
    --purple_accent-2:#e040fb;
    --pink_darken-2:#c2185b;
    --pink_darken-4:#880e4f;

    --orange_darken-3:#ef6c00;
    --orange_darken-4:#e65100;
    --deep-orange_darken-4:#bf360c;
    
    --deep-purple_darken-4:#311b92;
    --purple_darken-2:#7b1fa2;
    --purple_darken-1:#8e24aa;

}

/* [+] */
/* =====================html (overall)===================== */
html {
    height: 100vh;
    background-color: var(--grey_darken-4);
    font-family: 'Orbitron', sans-serif;
}

/* [+] */
/* ==============Cyber Grade (Color Scheme Classes)============== */
.cyber-grade {
    background: #212121f1;
    box-shadow: 
        0 0 10px 0 var(--pink_darken-2),
        0 0 50px 0 var(--pink_darken-4);
    border-width: 4px;
    border-style:solid;
    border-image: linear-gradient(
        300deg, 
        var(--purple_darken-1) 0%, 
        #8a6ff5 35%, 
        var(--cyan_accent-2) 95%) 10; 
}

/* [-] */
/*--------------------Cyber Grade Inputs================== */
/* suffix icon */
i.suffix {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    top: 0.5rem;
    right: 0;
    margin-left: 15px;
}

/* suffix icon focus color */
.input-field label.active + i.suffix{
    color: var(--purple_darken-1);
}

/* label color */
.cyber-grade .input-field label, .cyber-grade .input-field i {
    color: var(--grey_darken-2);
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: var(--purple_darken-1);
}

/* ------------------Input Elements------------------ */
/* label focus color */
.cyber-grade .input-field input[type=text]:focus + label, .cyber-grade .input-field input[type=password]:focus + label {
    color: var(--purple_darken-1);
}
/* label valid focus color */
.cyber-grade .input-field input[type=text]:focus.valid + label, .cyber-grade .input-field input[type=password]:focus.valid + label {
    color: var(--cyan_accent-2);
}
/* label invalid focus color */
.cyber-grade .input-field input[type=text]:focus.invalid + label, .cyber-grade .input-field input[type=password]:focus.invalid + label {
    color: var(--orange_darken-3);
}

/* label underline color */
.cyber-grade .input-field input[type=text], .cyber-grade .input-field input[type=password] {
    border-bottom: 1px solid var(--grey_darken-2);
    box-shadow: 0 1px 0 0 #000;
    color:var(--pink_darken-2)
}
/* label underline focus color */
.cyber-grade .input-field input[type=text]:focus, .cyber-grade .input-field input[type=password]:focus {
    border-bottom: 1px solid var(--purple_darken-1);
    box-shadow: 0 1px 0 0 #000;
}

/* valid color */
.cyber-grade .input-field input[type=text].valid, .cyber-grade .input-field input[type=password].valid {
    border-bottom: 1px solid var(--cyan_accent-2);
    box-shadow: 0 1px 0 0 #000;
}
/* valid text color */
.cyber-grade .input-field input[type=text].invalid ~ span.helper-text::after, .cyber-grade .input-field input[type=password].invalid ~ span.helper-text::after{
    color: var(--cyan_accent-2)
}
/* invalid color */
.cyber-grade .input-field input[type=text].invalid, .cyber-grade .input-field input[type=password].invalid {
    border-bottom: 1px solid var(--orange_darken-3);
    box-shadow: 0 1px 0 0 #000;
}
/* invalid text color */
.cyber-grade .input-field input[type=text].invalid ~ span.helper-text::after, .cyber-grade .input-field input[type=password].invalid ~ span.helper-text::after{
    color: var(--orange_darken-3)
}

.cyber-grade .error{
    position: relative;
    min-height: 18px;
    display: block;
    font-size: 12px;
    color: var(--orange_darken-3)
}

/* ------------------Modals------------------ */
.modal .modal-footer {
    background-color: transparent;
    height:100%;
}

/* [+] */
/* =============Neon Glows (Neon Light Effect Classes)============  */
.btn-rounded {
    border-radius: 15px;
}

.btn-small.btn-rounded {
    border-radius: 10px;
}

.neon-blue-hover {
    background-color: #ffffff33;
    box-shadow: 
        inset 0 0 15px 0 var(--blue_darken-2),
        inset 0 0 5px 0 var(--indigo_darken-4),
        0 0 5px 0 var(--blue_darken-2);
}
.neon-blue-hover:hover {
    color: var(--indigo_darken-4);
    background-color: #ffffff;
    box-shadow: 
    inset 0 0 15px 0 var(--blue_darken-2),
    inset 0 0 5px 0 var(--indigo_darken-4),
        0 0 40px 0 var(--cyan_accent-2),
        0 0 60px 0 var(--blue_darken-2),
        0 0 80px 0 var(--indigo_darken-4);
}

.neon-blue.inactive{
    color: var(--grey_lighten-2);
    background-color: #ffffff33;
    box-shadow: 
        inset 0 0 15px 0 var(--blue_darken-2),
        inset 0 0 5px 0 var(--indigo_darken-4),
        0 0 5px 0 var(--blue_darken-2);
}

.neon-blue.active{
    color: var(--indigo_darken-4);
    background-color: #ffffff;
    box-shadow: 
    inset 0 0 15px 0 var(--blue_darken-2),
    inset 0 0 5px 0 var(--indigo_darken-4),
        0 0 40px 0 var(--cyan_accent-2),
        0 0 60px 0 var(--blue_darken-2),
        0 0 80px 0 var(--indigo_darken-4);
}

.neon-fuschia.inactive{
    color: var(--grey_lighten-2);
    background-color: #ffffff33;
    box-shadow: 
        inset 0 0 15px 0 var(--purple_darken-2),
        inset 0 0 5px 0 var(--deep-purple_darken-4),
        0 0 5px 0 var(--purple_darken-2);
}

.neon-fuschia.active{
    color: var(--deep-purple_darken-4);
    background-color: #ffffff;
    box-shadow: 
    inset 0 0 15px 0 var(--purple_darken-2),
    inset 0 0 5px 0 var(--deep-purple_darken-4),
        0 0 40px 0 var(--purple_accent-2),
        0 0 60px 0 var(--purple_darken-2),
        0 0 80px 0 var(--deep-purple_darken-4);
}

/* [+] */
/* =========================Nav========================= */
#nav-bar .user-name, #side-menu .user-name{
    color: var(--cyan_accent-2);
    font-weight: 800;
    font-size: 1.5rem;
}

.registration-link{
    margin-top: 1rem;
    font-size: 0.8rem;
    color: var(--orange_darken-3);
    line-height:normal;
    align-self: center;
}

/* [-] */
/* -------------------------Header========================= */
header nav {
    margin-bottom: 2rem;
    background-color: var(--purple_accent-2);
    color: #000000;
}

header nav a {
    color: #000000;
    font-family: 'Orbitron', sans-serif;
}

.logo1 {
    color: #ffffff;
    text-shadow: 
        0 0 3px var(--cyan_accent-2),
        0 0 5px var(--blue_darken-2),
        0 0 7px var(--indigo_darken-4);
        white-space: nowrap;
}
.logo2 {
    color: #ffffff;
    text-shadow: 
        0 0 4px var(--purple_accent-2),
        0 0 6px var(--purple_darken-2),
        0 0 8px var(--deep-purple_darken-4);
}

header nav a.brand-logo {
    margin: 0 20px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
}

/* -----------------------HeaderLoginForm----------------------- */
/* Undo Materialize Nav Settings */
.login-form {
    line-height: normal;
}

nav .login-form input {
    border-bottom: 1px solid var(--grey_darken-2);
}

/* Vertical Login Form */
#login-form form {
    padding: 0px 1rem;
    padding-bottom: 1rem;
    height: auto;
    display:flex;
    flex-direction: column;
}
#login-form form button {
    align-self: flex-end;
}
/* ---------------------- */

/* Horizontal Login Form */
/* #login-form form {
    padding: 0px 1rem;
    height: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
} */
/* ---------------------- */

#login-form div.input-field {
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-width: 250px;
}

#login-form form div {
    height: auto;
}

/* [-] */
/* -------------------------SideNav========================= */
#side-menu {
    border-top: none;
    border-bottom: none;
    border-left: none;
    height:100vh;
}

#side-menu li>a, #side-menu li>div {
    color: var(--grey_lighten-2);
    font-family: 'Orbitron', sans-serif;
    background-color: transparent;
}

#side-menu div.collapsible-header {
    padding-left: 32px;
    font-weight: 500;
}

#side-menu div.collapsible-header:focus {
    background-color: transparent;
}
#side-menu div.collapsible-body {
    background-color: transparent;
}

/* -----------------------SideLoginForm----------------------- */
#login-form-sidenav form {
    border-left: none;
    border-right: none;
    clip-path: inset(-50px 0px -50px 0px);
    padding: 12px;
    display:flex;
    flex-direction: column;
}

#login-form-sidenav form button {
    align-self: flex-end;
}

/* [+] */
/* ====================Registration Form==================== */
#registration-form {
    padding: 2rem;
    display:flex;
    flex-direction: column;
}
#registration-form button {
    align-self: flex-end;
}

/* [+] */
/* ======================List Builder====================== */

/* [-] */
/* -----------------------SearchBar======================= */
#search-bar, #search-bar input {
    border-radius: 15px;
    color: var(--grey_lighten-2);
}

nav#search-bar {
    box-shadow: 
        inset 0 0 15px 0 var(--blue_darken-2),
        inset 0 0 5px 0 var(--indigo_darken-4),
        0 0 5px 0 var(--blue_darken-2);
}
#search-bar input:focus {
    color:#000;
    box-shadow: 
    inset 0 0 15px 0 var(--blue_darken-2),
    inset 0 0 5px 0 var(--indigo_darken-4),
        0 0 40px 0 var(--cyan_accent-2),
        0 0 60px 0 var(--blue_darken-2),
        0 0 80px 0 var(--indigo_darken-4);
}

/* [-] */
/* ---------------------SearchResults===================== */
div#search-results {
    height: 0px;
    max-height: 400px;
    margin-bottom: 2rem;
}

#search-results div.card {
    min-height:0px;
    max-height:calc(100% - 1.5rem);
    width:auto;
}

#search-results div.card-image{
    height: calc(100% - 36px)
}
#search-results div.card img{
    height: 100%;
}

div.card-action {
    height:36px;
    display:flex;
    justify-content: stretch;
    padding: 0px !important;
}

.card-btn {
    flex-grow: 1;
}

/* [-] */
/* ----------------------ShareModal====================== */
#share_modal {
    max-width: 400px;
}

#share_modal .modal-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#share_modal .modal-footer a{
    width: 200px;
}

#share_modal .btn-flat {
    text-align: center;
}

/* [+] */
/* ==================List Manager==================== */

/* [-] */
/* ---------------------List Table===================== */
#list-table {
    background-color: #ffffff0a;
    table-layout: fixed;
    width:100%;
}
#list-table span.badge{
    color: black;
}
#list-name-th {
    min-width: 100px;
}
#list-count-th {
    width:60px;
    min-width: 48px;
}
#created-date-th {
    width:180px;
    min-width:100px;    
}
#actions-th {
    width:100px;
}

.list-actions-td div{
    display:flex;
    justify-content: space-around;
}

.edit-list-btn {
    color: var(--purple_accent-2);
}

.edit-list-btn:hover {
    color: var(--grey_lighten-2);
    text-shadow: 
        0 0 5px var(--purple_accent-2),
        0 0 10px var(--purple_accent-2),
        0 0 15px var(--purple_darken-2),
        0 0 20px var(--purple_darken-2),
        0 0 30px var(--deep-purple_darken-4),
        0 0 35px var(--deep-purple_darken-4);
}

.delete-list-btn i {
    color: var(--orange_darken-3);
}

.delete-list-btn:hover i {
    color: var(--grey_lighten-2);
    text-shadow: 
        0 0 5px var(--orange_darken-3),
        0 0 10px var(--orange_darken-3),
        0 0 15px var(--orange_darken-4),
        0 0 20px var(--orange_darken-4),
        0 0 30px var(--deep-orange_darken-4),
        0 0 35px var(--deep-orange_darken-4);
}

/* [-] */
/* ---------------------Slider Rows===================== */
.slider-x {
    max-width:100%;
    display:grid;
    column-gap:10px;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, 100px);
    overflow-x: auto;
    padding-left: 70px;
    padding-right: 70px;
    mask-image: linear-gradient(to right, #ffffff00 0%,#000000 70px, #000000 calc(100% - 70px), #ffffff00 100%);
    -webkit-mask-image: linear-gradient(to right, #ffffff00 0%,#000000 70px, #000000 calc(100% - 70px), #ffffff00 100%);
}


/* Hide scrollbar */
.slider-x {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.slider-x::-webkit-scrollbar{
    display: none;
}

.slider-x .card{
    width:100px;
}

/* Collapsible table row. */
tr.row-collapse-trigger {
    border-bottom: none;
}
td.collabsible-row {
    padding:0;
}
.slider-x {
    max-height: 200px;
    margin: 5px 0px;
    transition: max-height 0.5s ease-in-out, margin 0s;
}
.slider-x.content-collapsed {
    max-height:0px;
    margin: 0px;
    transition: max-height 0.5s ease-in-out, margin 0.1s ease-out 0.5s;
}

/* [+] */
/* ==================Elimination Room==================== */

/* [-] */
/* ---------------------UserList===================== */
#user_list {
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0px;
}

/* [-] */
/* ---------------------MovieList===================== */
#movie_list {
    display:grid;
    width:100%;
    grid-template-columns: repeat(auto-fill, 200px);
    gap:10px;
    margin:10px;
}

.eliminated {
    box-shadow: 0px 0px 7px var(--orange_darken-3);
    opacity: 0.2;
}

/* [-] */
/* ---------------------FinalModal===================== */
#final_modal {
    max-height:95vh;
}

#final_modal h5 i{
    vertical-align: bottom;
}

#final_modal img.poster {
    width:100%
}

#final_modal .collapsible-body{
    padding:5px 10px;
}
#final_modal .providers {
    display:flex;
    flex-wrap: wrap;
}
#final_modal .providers li>img{
    padding: 1px 1px;
    border-radius: 7px;
}

#final_modal .provider-empty{
    height:2rem;
    margin-left: auto;
    margin-right: auto;
}

#final_modal .nav-wrapper ul {
    display: flex;
    justify-content: space-around;
}
#final_modal .nav-wrapper ul>li {
    width:100%;
    text-align: center;
}

/* [+] */
/* ======================Materialize======================= */
.material-tooltip {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    text-align: left;
    list-style-type: disc;
}

.toast {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

/* [+] */
/* ========================Animista======================== */

/* ========================End======================== */