<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"
        integrity="sha256-6XMVI0zB8cRzfZjqKcD01PBsAy3FlDASrlC8SxCpInY=" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!--  -->
    {% load static %}
    <script src="{% static 'display_app/js/index.js'%}"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'display_app/css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    {% csrf_token %}
    <main class="container">
        <div class="row">
            <div id="moviesearch" class="input-field col s12 m8 offset-m2 l6 offset-l3 center-align">
                <i class="material-icons prefix">local_movies</i>
                <input type="text" id="moviesearch-input">
                <label for="moviesearch-input">Movie Search</label>
            </div>
        </div>
        <div class="carousel carousel-slider">
        </div>
        <!-- <div class="inline input-field">
            <input type="text" name="sharecode" id="sharecode" placeholder="Enter share code here...">
            <input type="text" name="nickname" id="nickname" placeholder="Nickname">
        </div>
        <button id="share">Share/Add</button>
        <button id="clear">Clear</button>
        <hr>
        <div id="movie_list"></div>
        <div id="movie_info"></div>
        <div>Spanning Share button</div> -->
    </main>
    <script type="text/javascript">
        var DJ_STATIC_FILES = {
           "placeholder_path": "{% static 'display_app/images/movie_placeholder.png' %}"
        };
    </script>
    <script src="{% static 'display_app/js/index.js'%}"></script>
</body>

</html>