{% extends "./base.html" %}
{% load static %}

{% block subtitle %} - Room {{sharecode}}{% endblock %}

{% block content_block %}
    <main>
        <h4>Match Room ID = <span id="share-code">{{sharecode}}</span></h4>
        <h5>Users:</h5>
        <div id="user_list"></div>
        <button id="begin-eliminating">Start eliminating!</button>
        <!-- The List of Shared movies -->
        <h4>Shared List:</h4>
        <div id="movie_list"></div>
        <hr>
    </main>
{% endblock %}

{% block script_block %}
    {{ block.super }}
    <script type='text/javascript' > 
        var user_uuid = "{{uuid}}"
        var user_list = {};
        var movie_list = [];
    </script>
    <script src="{% static 'display_app/js/match_builder.js'%}"></script>
    <script src="{% static 'display_app/js/user_builder.js'%}"></script>
    <script src="{% static 'display_app/js/sockets.js'%}"></script>
{% endblock %}\