Django==4.2.17
bcrypt==4.2.1
shortuuid==1.0.11
channels==4.2.2
channels-redis==4.2.0
daphne==4.1.2
requests==2.31.0
gunicorn==22.0.0

python-dotenv==1.0.0    # for loading .env variables

psycopg==3.1.12         # for PostgreSQL database connection