moviematch v0.1.0
├── bcrypt v4.2.1
├── channels v4.2.2
│   ├── asgiref v3.8.1
│   └── django v4.2.17
│       ├── asgiref v3.8.1
│       ├── sqlparse v0.5.0
│       └── tzdata v2024.1
├── channels-redis v4.2.0
│   ├── asgiref v3.8.1
│   ├── channels v4.2.2 (*)
│   ├── msgpack v1.0.8
│   └── redis v5.0.4
│       └── async-timeout v4.0.3
├── daphne v4.1.2
│   ├── asgiref v3.8.1
│   ├── autobahn v23.6.2
│   │   ├── cryptography v44.0.0
│   │   │   └── cffi v1.16.0
│   │   │       └── pycparser v2.22
│   │   ├── hyperlink v21.0.0
│   │   │   └── idna v3.7
│   │   ├── setuptools v75.6.0
│   │   └── txaio v23.1.1
│   └── twisted[tls] v24.11.0
│       ├── attrs v23.2.0
│       ├── automat v24.8.1
│       ├── constantly v23.10.4
│       ├── hyperlink v21.0.0 (*)
│       ├── incremental v24.7.2
│       │   └── setuptools v75.6.0
│       ├── typing-extensions v4.11.0
│       ├── zope-interface v6.4
│       │   └── setuptools v75.6.0
│       ├── idna v3.7 (extra: tls)
│       ├── pyopenssl v25.0.0 (extra: tls)
│       │   ├── cryptography v44.0.0 (*)
│       │   └── typing-extensions v4.11.0
│       └── service-identity v24.1.0 (extra: tls)
│           ├── attrs v23.2.0
│           ├── cryptography v44.0.0 (*)
│           ├── pyasn1 v0.6.0
│           └── pyasn1-modules v0.4.0
│               └── pyasn1 v0.6.0
├── django v4.2.17 (*)
├── gunicorn v22.0.0
│   └── packaging v24.0
├── psycopg v3.1.12
│   ├── typing-extensions v4.11.0
│   └── tzdata v2024.1
├── python-dotenv v1.0.0
├── requests v2.32.3
│   ├── certifi v2024.2.2
│   ├── charset-normalizer v3.3.2
│   ├── idna v3.7
│   └── urllib3 v2.3.0
├── setuptools v75.6.0
└── shortuuid v1.0.11
(*) Package tree already displayed
