# Made with `pipdeptree`
# Run `pipdeptree` to get the dependencies for each base package. Sort alphabetically.
# ```pipdeptree -p <package_name>```
# Then combine into this file.

Django==4.2.17
  - asgiref [required: >=3.6.0,<4, installed: 3.8.1]
  - sqlparse [required: >=0.3.1, installed: 0.5.0]
  - tzdata [required: Any, installed: 2024.1]
bcrypt==4.2.1
shortuuid==1.0.11
channels==4.2.2
  - asgiref [required: >=3.6.0,<4, installed: 3.8.1]
  - Django [required: >=4.2, installed: 4.2.17]
    - asgiref [required: >=3.6.0,<4, installed: 3.8.1]
    - sqlparse [required: >=0.3.1, installed: 0.5.0]
    - tzdata [required: Any, installed: 2024.1]
channels-redis==4.2.0
  - asgiref [required: >=3.2.10,<4, installed: 3.8.1]
  - channels [required: Any, installed: 4.2.2]
    - asgiref [required: >=3.6.0,<4, installed: 3.8.1]
    - Django [required: >=4.2, installed: 4.2.17]
      - asgiref [required: >=3.6.0,<4, installed: 3.8.1]
      - sqlparse [required: >=0.3.1, installed: 0.5.0]
      - tzdata [required: Any, installed: 2024.1]
  - msgpack [required: ~=1.0, installed: 1.0.8]
  - redis [required: >=4.6, installed: 5.0.4]
    - async-timeout [required: >=4.0.3, installed: 4.0.3]
daphne==4.1.2
  - asgiref [required: >=3.5.2,<4, installed: 3.8.1]
  - autobahn [required: >=22.4.2, installed: 23.6.2]
    - cryptography [required: >=3.4.6, installed: 44.0.0]
      - cffi [required: >=1.12, installed: 1.16.0]
        - pycparser [required: Any, installed: 2.22]
    - hyperlink [required: >=21.0.0, installed: 21.0.0]
      - idna [required: >=2.5, installed: 3.7]
    - setuptools [required: Any, installed: 65.5.0]
    - txaio [required: >=21.2.1, installed: 23.1.1]
  - Twisted [required: >=22.4, installed: 24.11.0]
    - attrs [required: >=22.2.0, installed: 23.2.0]
    - Automat [required: >=24.8.0, installed: 24.8.1]
    - constantly [required: >=15.1, installed: 23.10.4]
    - hyperlink [required: >=17.1.1, installed: 21.0.0]
      - idna [required: >=2.5, installed: 3.7]
    - incremental [required: >=24.7.0, installed: 24.7.2]
      - setuptools [required: >=61.0, installed: 65.5.0]
    - typing_extensions [required: >=4.2.0, installed: 4.11.0]
    - zope.interface [required: >=5, installed: 6.4]
      - setuptools [required: Any, installed: 65.5.0]
requests==2.32.3
  - certifi [required: >=2017.4.17, installed: 2024.2.2]
  - charset-normalizer [required: >=2,<4, installed: 3.3.2]
  - idna [required: >=2.5,<4, installed: 3.7]
  - urllib3 [required: >=1.21.1,<3, installed: 2.3.0]
gunicorn==22.0.0
  - packaging [required: Any, installed: 24.0]
python-dotenv==1.0.0
psycopg==3.1.12
  - typing_extensions [required: >=4.1, installed: 4.11.0]
  - tzdata [required: Any, installed: 2024.1]
