asgiref==3.11.1
async-timeout==5.0.1
attrs==26.1.0
autobahn==25.12.2
automat==25.4.16
bcrypt==5.0.0
cbor2==5.9.0
certifi==2026.2.25
cffi==2.0.0
channels==4.3.2
channels-redis==4.3.0
charset-normalizer==3.4.7
constantly==23.10.4
cryptography==46.0.7
daphne==4.2.1
django==4.2.30
gunicorn==25.3.0
hyperlink==21.0.0
idna==3.11
incremental==24.11.0
msgpack==1.1.2
packaging==26.0
psycopg==3.3.3
py-ubjson==0.16.1
pyasn1==0.6.3
pyasn1-modules==0.4.2
pycparser==3.0
pyopenssl==26.0.0
python-dotenv==1.2.2
redis==7.4.0
requests==2.33.1
service-identity==24.2.0
shortuuid==1.0.11
sqlparse==0.5.5
twisted==25.5.0
txaio==25.12.2
typing-extensions==4.15.0
tzdata==2026.1
ujson==5.12.0
urllib3==2.6.3
zope-interface==8.2
