html {
    height: 100vh;
    background-color: #212121;
}
body {
    padding-top: 2vmin;
}

nav#search-bar {
    box-shadow: 
        inset 0 0 15px 0 #1976d2,
        inset 0 0 5px 0 #1a237e,
        0 0 5px 0 #1a237e;
}

#search-bar, #search-bar input {
    border-radius: 15px;
}
#search-bar input:focus {
    box-shadow: 
    inset 0 0 15px 0 #1976d2,
    inset 0 0 5px 0 #1a237e,
        0 0 40px 0 #18ffff,
        0 0 60px 0 #1976d2,
        0 0 80px 0 #1a237e;
}

div#search-results {
    height: 100%;
    max-height: 400px;
}

#search-results div.card {
    min-height:0px;
    max-height:calc(100% - 1.5rem);
    width:auto;
}

#search-results div.card-image{
    height: calc(100% - 36px)
}
#search-results div.card img{
    height: 100%;
}

div.card-action {
    height:36px;
    display:flex;
    justify-content: stretch;
    padding: 0px !important;
}

.card-btn {
    flex-grow: 1;
}


#user_list {
    display: flex;
}

#user_list div {
    border-radius: 5px;
    margin: 5px;
    background-color: darkred;
}

#movie_list {
    display:grid;
    width:100%;
    grid-template-columns: repeat(auto-fill, 154px);
    /* grid-template-rows: repeat(autofill, 231px); */
    gap:10px;
    margin:10px;
}

#movie_list h5 {
    text-align: center;
    margin-top: 20%;
    color:#000000;
    text-shadow: 0 0 3px #868686, 0 0 3px #ffffff, 0 0 3px #ffffff, 0 0 3px #ffffff;
}

.list_item {
    width:154px;
    height:231px;
}

#movie_info {
    display:none;
    width:80vw;
    height:80vh;
    margin:auto;
    border: 2px solid #b4b4b4;
    border-radius: 2px;
    position:absolute;
    z-index: 1;
}

.eliminated {
    box-shadow: 0px 0px 7px #ff0000;
}

/* .exampleClass:hover div {
	transitionDuration: 0.25s;
	opacity: 1;
}

.exmapleClass div {
	filter: blur(1px);
	borderRadius: 8px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	transition: opacity 1.5s ease;
	background: linear-gradient(91.83deg, rgb(208, 60, 74) 2.26%, rgb(172, 74, 218) 95.81%);
	animation: 10s ease-in-out 0s infinite normal both running pulse;
	opacity: 0.75;
}

.exampleClass span {
	padding: 12px 24px;
	backgroundColor: white;
	position: relative;
	color: black;
	borderRadius: 8px;
	cursor: pointer;
	transition: transform 250ms cubic-bezier(.2,.8,.4,1);
} */
