{% extends "base.html" %}
{% load static %}

{% block page_subtitle %} - Room {{sharecode}}{% endblock %}

{% block content_block %}
    <main>
        <div class="container">
            <div id="status_bar" class="center-align">
                <a id="status-btn" class=" status-waiting neon-blue inactive btn-large btn-rounded">
                    <i class="material-icons left">cast</i>
                    <span>Waiting for matching to begin...</span>
                    <i class="material-icons right">cast</i>
                </a>
            </div>
            <!-- <div class="divider"></div> -->
            <div id="user_list"></div>
            <div id="movie_list"></div>
        </div>
    </main>
    <footer class="sharecode cyan accent-2">
        <button id="copy-sharecode" class=" cyan accent-2 btn waves-effect">
            <span id="sharecode">{{sharecode}}</span><i class="material-icons">content_copy</i>
        </button>
    </footer>
    <div id="final_modal" class="modal cyber-grade">
        <div class="modal-content pink-text text-darken-2"></div>
        <div class="navbar-fixed">
            <nav class="cyan accent-2">
              <div class="nav-wrapper">
                <ul>
                    <li class="waves-effect waves-light"><a id="refresh-btn" href="#!"><i class="material-icons indigo-text text-darken-4">refresh</i></a></li>
                    <li><a class="modal-trigger" href="#save-modal"><i class="material-icons indigo-text text-darken-4">save</i></a></li>
                    <li class="modal-close waves-effect waves-light"><a href="#!"><i class="material-icons indigo-text text-darken-4">close</i></a></li>
                </ul>
              </div>
            </nav>
          </div>
    </div>

    {% include "save_modal.html"%}

{% endblock %}

{% block script_block %}
    {{ block.super }}
    <script type='text/javascript' > 
        var user_uuid = "{{uuid}}"
        var user_list = {};
        var movie_list = [];
        var elimination_active = false;
        var current_eliminating_uuid = null;
    </script>
    <script type="module" src="{% static 'elimination_room/js/received-commands.js'%}"></script>
    <script type="module" src="{% static 'elimination_room/js/list-managers.js'%}"></script>
    <!-- <script src="{% static 'elimination_room/js/match_builder.js'%}"></script>
    <script src="{% static 'elimination_room/js/user_builder.js'%}"></script> -->
    <script type="module" src="{% static 'elimination_room/js/sockets.js'%}"></script>
    <script src="{% static 'js/save_modal.js'%}"></script>
    <script type="module" src="{% static 'elimination_room/js/sharecode_copy.js'%}"></script>
    <script type="module" src="{% static 'elimination_room/js/send-commands.js'%}"></script>
    <script type="module" src="{% static 'elimination_room/js/materialize-inits.js'%}"></script>
    <script type="module" src="{% static 'elimination_room/js/index.js'%}"></script>
{% endblock %}\