<div id="change-list-name-modal" class="modal cyber-grade">
    <div class="modal-content">
        <form id="change-list-name-form">
            {% include "form_template.html" with form=change_list_name_form %}
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" id="change-list-name-confirm" form="change-list-name-form"
                class="neon-cyan neon-glow neon-hover waves-effect waves-light btn-large btn-rounded">
            <i class="material-icons left">check</i>Accept
        </button>
        <button type="button" class="modal-close orange-text text-darken-3 waves-effect waves-dark btn-flat">
            <i class="material-icons left orange-text text-darken-3">close</i>Cancel
        </button>
    </div>
</div>