<div id="delete-modal" class="modal cyber-grade">
    <div class="modal-content pink-text text-darken-2">
        <h5>Are you sure you want to delete <span id="list-name-delete" class="cyan-text text-accent-2"></span>?</h5>
    </div>
    <div class="modal-footer">
        <button type="button" id="delete-list-confirm" class="neon-cyan neon-glow-hover waves-effect waves-light btn-large btn-rounded"><i class="material-icons left">delete</i>Delete</button>
        <button type="button" class="modal-close orange-text text-darken-3 waves-effect waves-dark btn-flat"><i class="material-icons left orange-text text-darken-3">close</i>Cancel</button>
    </div>
</div>