<div id="share_modal" class="modal cyber-grade">
    <div class="modal-content pink-text text-darken-2">
        <h4>Ready to share?</h4>
        <form id="share-list-form" action="{% url 'elimination_room:share_submit' %}" method="POST">
            {% csrf_token %}
            {% include "form_template.html" with form=shareroomuser_form %}
            <p class="flow-text">Enter sharecode if you have one.</p>
            {% include "form_template.html" with form=sharecode_form %}
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" form="share-list-form" id="share-btn" class="neon-cyan neon-glow-hover waves-effect waves-light btn-large btn-rounded"><i class="material-icons left">share</i>Share</button>
        <button type="button" class="modal-close orange-text text-darken-3 waves-effect waves-dark btn-flat"><i class="material-icons left orange-text text-darken-3">close</i>Cancel</button>
    </div>
</div>