<div id="sort-btns">
    <btn class='btn dropdown-trigger' href='#' data-target='sort-container'>
        <i class="material-icons">filter_list</i>
    </btn>
    <btn id="change-order" class="btn" href='#'>
        <i class="material-icons">swap_vert</i>
    </btn>
</div>

<div id='sort-container' class='dropdown-content'>
    <div class="collection">
        <a id="sort_updated-at" class="collection-item active">Recent</a>
        <a id="sort_name" class="collection-item">Name</a>
        <a id="sort_count" class="collection-item">Count</a>
        <a id="sort_created-at" class="collection-item">Created</a>
    </div>
</div>