<div id="sort-btns">
    <btn class='btn dropdown-trigger neon-purple neon-glow-hover' href='#' data-target='sort-container'>
        <i class="material-icons">filter_list</i>
    </btn>
    <btn id="change-order" class="btn neon-purple neon-glow-hover" href='#'>
        <i class="material-icons">swap_vert</i>
    </btn>
</div>

<div id='sort-container' class='dropdown-content cyber-grade'>
    <div>
        <a id="sort_updated-at" class="btn-large neon-cyan neon-glow-hover neon-lit">Recent</a>
        <a id="sort_name" class="btn-large neon-cyan neon-glow-hover">Name</a>
        <a id="sort_count" class="btn-large neon-cyan neon-glow-hover">Count</a>
        <a id="sort_created-at" class="btn-large neon-cyan neon-glow-hover">Created</a>
    </div>
</div>