    {% extends "list_builder/list_builder_base.html" %}
    {% load static %}

    {% block list_builder_subheading %}
        <div class="center-align">
            <div class="btn-large btn-rounded neon-purple neon-unlit">{{ saved_list.display_name }}</div>
        </div>
    {% endblock %}

    {% block content_block %}
        {{ block.super }}
        <div id="editor-savebar" class="navbar-fixed">
            <nav class="cyan accent-2">
                <div class="nav-wrapper">
                    <ul>
                        <li class="waves-effect waves-light">
                            <a id="open-save-btn" class="modal-trigger indigo-text text-darken-4" href="#save-modal">
                                <i class="material-icons left indigo-text text-darken-4">save</i>Save
                            </a>
                        </li>
                        <li class="waves-effect waves-light orange darken-3">
                            <a href="{% url 'list_builder:list_manager' %}">
                                <i class="material-icons left">close</i>Cancel
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        {% include "list_builder/editor_save_modal.html" with list_id=saved_list.id list_name=saved_list.display_name %}

    {% endblock %}

    {% block script_block %}
        {{ block.super }}
        {{ movie_list|json_script:"imported-movie-data" }}
        <script type="module" src="{% static 'list_builder/js/list_builder/list_editor/index.js'%}"></script>
    {% endblock %}