    {% extends "base.html" %}
    {% load static %}

    {% block content_block %}
        <main>
            <div class="container">
                <table id="list-table" class="white-text">
                    <thead>
                        <tr>
                            <th id="list-name-th">List Name</th>
                            <th id="list-count-th"></th>
                            <th id="created-date-th">Created On</th>
                            <th id="actions-th"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for list in saved_lists %}
                        <tr id="list_{{list.id}}" class="row-collapse-trigger">
                            <td class="list-name-td">
                                <span class="truncate">{{list.list_name}}</span>
                            </td>
                            <td class="list-count-td">
                                <span class="new badge cyan accent-2" data-badge-caption="">{{list.movies.count}}</span>
                            </td>
                            <td>{{list.created_at|date:"m/d/y f A"}}</td>
                            <td class="list-actions-td">
                                <div>
                                    <a class="edit-list-btn" href="{% url 'list_builder:edit_list' list_id=list.id %}"><i class="material-icons">edit</i></a>
                                    <a class="delete-list-btn" href="#delete-modal"><i class="material-icons">delete</i></a>
                                </div>
                            </td>
                        </tr>
                        <tr id="list_{{list.id}}_content">
                            <td class="collabsible-row" colspan="4">
                                <div class="slider-x content-collapsed">
                                    {% for movie in list.movies.all %}
                                    <div id="list_{{list.id}}_{{movie.tmdb_id}}" class="card grey darken-4">
                                        <div class="card-image">
                                            <img loading="lazy" src="https://image.tmdb.org/t/p/w342{{movie.poster_path}}">
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>

        {% include "list_builder/_list_manager_delete_modal.html"%}

    {% endblock %}

    {% block script_block %}
        {{ block.super }}
        <script type='text/javascript' >
        </script>
        <script type="module" src="{% static 'list_builder/js/slider.js'%}"></script>
        <script type="module" src="{% static 'list_builder/js/table-collapse.js'%}"></script>
        <script type="module" src="{% static 'list_builder/js/delete_modal.js'%}"></script>
        <script type="module" src="{% static 'list_builder/js/list_manager/index.js'%}"></script>
    {% endblock %}