{% load static %}
<div id="about-modal" class="modal cyber-grade">
    <div>
        <button class="modal-close"><i class="material-icons small orange-text text-darken-3">close</i></button>
        <p>All movie metadata is provided by <a href="https://www.themoviedb.org/" target="_blank">The Movie Database</a> (TMDb).</p>
        <img src="{% static 'images/tmdb-primary-full-blue.svg' %}" alt="TMDB Logo">
        <p>Inaccurate data can be reported to TMDb. Discrepancies between TMDb and Movie Match can be reported here.</p>
    </div>
</div>