<div id="movie-info-modal" class="modal cyber-grade">
    <div class="modal-content pink-text text-darken-2"></div>
    <div class="navbar-fixed">
        <nav class="cyan accent-2">
            <div class="nav-wrapper">
                <ul>
                    <li class="waves-effect waves-light">
                        <a id="refresh-btn" href="#!">
                            <i class="material-icons indigo-text text-darken-4">refresh</i>
                        </a>
                    </li>
                    <li>
                        <a class="disabled" href="#!"><i class="material-icons indigo-text text-darken-4">save</i></a>
                    </li>
                    <li class="modal-close waves-effect waves-light">
                        <a href="#!"><i class="material-icons indigo-text text-darken-4">close</i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>