<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- GoogleFonts Preconnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Favicon -->
    {% load static %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg" color="#ff00f7' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#090909">
    <title>MovieMatch{% block page_subtitle %}{% endblock %}</title>
    <!-- Scripts -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.js"></script>
    <script src="{% static 'js/materialize.min.js'%}"></script>
    <!-- CSS Stylesheets -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Black+Ops+One&family=Fira+Code:wght@600&family=Michroma&family=Montserrat&family=Orbitron:wght@400;500;600;700;800;900&family=Press+Start+2P&family=Roboto+Mono&family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
    {% csrf_token %}
    {% block header_block %}
    <header>
        <nav id="nav-bar">
            <div class="nav-wrapper">
                <a href="{% url 'list_builder:default_redirect' %}" class="brand-logo logo1">
                    Movie Match{% block header_subtitle %}{% endblock %}
                </a>
                <a href="#" data-target="side-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{% url 'list_builder:list_builder' %}">List Builder</a></li>
                    <li><a href="#">Recent Lists</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'list_builder:list_manager' %}">List Manager</a></li>
                    <li><a class="user-name dropdown-trigger" href="#" data-target="logged-in-options"><i class="material-icons left">account_circle</i>{{user.username}}<i class="material-icons right">arrow_drop_down</i></a></li>
                    <div id="logged-in-options" class="dropdown-content">
                        <div class="cyber-grade">
                            <ul>
                                <li><a href="{% url 'login_and_reg:settings' %}">Settings</a></li>
                                <li><a href="{% url 'login_and_reg:logout' %}">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    {% else %}
                    <li><a class="dropdown-trigger" href="#!" data-target="login-form">Login<i class="material-icons right">arrow_drop_down</i></a></li>
                    <div id="login-form" class="dropdown-content">
                        <form class="cyber-grade login-form" action="{% url 'login_and_reg:login' %}" method="post">
                            {% csrf_token %}
                            <div class="input-field">
                                <input id="nav-username" name="username" class="validate center-align" type="text" required>
                                <label for="nav-username">Username</label>
                            </div>
                            <div class="input-field">
                                <input id="nav-password" name="password" class="validate center-align" type="password" required>
                                <label for="nav-password">Password</label>
                            </div>
                            <button class="neon-blue-hover btn-small btn-rounded" type="submit">Login</button>
                            <a class="registration-link" href="{% url 'login_and_reg:register' %}">Register</a>
                        </form>
                    </div>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    
    <ul class="sidenav cyber-grade hide-on-large-only" id="side-menu">
        {% if user.is_authenticated %}
        <li><a class="user-name" href="#"><i class="material-icons">account_circle</i>{{user.username}}</a></li>
        <li><a href="{% url 'login_and_reg:settings' %}">Settings</a></li>
        <li><a href="{% url 'login_and_reg:logout' %}">Logout</a></li>
        {% else %}
        <li>
            <ul id="login-form-sidenav" class="collapsible">
                <li>
                    <div class="collapsible-header">Login<i class="material-icons right">arrow_drop_down</i></div>
                    <div class="collapsible-body">
                        <form class="cyber-grade login-form" action="{% url 'login_and_reg:login' %}" method="post">
                            {% csrf_token %}
                            <div class="input-field">
                                <input id="side-username" name="username" class="validate center-align" type="text" required>
                                <label for="side-username">Username</label>
                            </div>
                            <div class="input-field">
                                <input id="side-password" name="password" class="validate center-align" type="password" required>
                                <label for="side-password">Password</label>
                            </div>
                            <button class="neon-blue-hover btn-small btn-rounded" type="submit">Login</button>
                            <a class="registration-link" href="{% url 'login_and_reg:register' %}">Register</a>
                        </form>
                    </div>
                </li>
            </ul>
        </li>
        {% endif %}
        <div class="divider"></div>
        <li><a href="{% url 'list_builder:list_builder' %}">List Builder</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'list_builder:list_manager' %}">List Manager</a></li>
        {% endif %}
        <li><a href="#">Recent Lists</a></li>
    </ul>
    {% endblock %}
    {% block content_block %}{% endblock %}
    {% block script_block %}
    <script type="text/javascript">
        var DJ_STATIC_FILES = {
        "placeholder_path": "{% static 'images/movie_placeholder.png' %}",
        "image_prefix": "https://image.tmdb.org/t/p/"
        };
        var urlPath = {
            "listCreator" : "{% url 'list_builder:list_builder' %}",
            "listManager" : "{% url 'list_builder:list_manager' %}",
            "saveURL" : (list_id = "") => {
                let saveURL = "{% url 'list_builder:save_list' %}" 
                if (list_id) {saveURL += `/${list_id}`}
            },
            "webSocketURL" : (shareCode = "") => {
                let webSocketProtocol = "{% if IN_DEBUG %}ws://{% else %}wss://{% endif %}"
                let baseURL = window.location.host
                
                return `${webSocketProtocol}${baseURL}/ws/match/${shareCode}/`
            }
        };
        var csrftoken;
        var MovieCard;
        var MovieInfoModal;
        if(typeof construct === 'undefined' || construct === null ){ console.log("Initiating constructors."); var construct = {} }
        var listOperation = {}
    </script>
    <script src="{% static 'js/base.js'%}"></script>
    <script src="{% static 'js/constructors.js'%}"></script>
    <script src="{% static 'js/listOperation.js'%}"></script>
    <script src="{% static 'js/form_functions.js'%}"></script>
    {% endblock %}
</body>

</html>