<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- GoogleFonts Preconnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Favicon -->
    {% load static %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg" color="#ff00f7' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#090909">
    <title>MovieMatch{% block page_subtitle %}{% endblock %}</title>
    <!-- Scripts -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.js"></script>
    <script src="{% static 'js/materialize.min.js'%}"></script>
    <!-- CSS Stylesheets -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Black+Ops+One&family=Fira+Code:wght@600&family=Michroma&family=Montserrat&family=Orbitron:wght@400;500;600;700;800;900&family=Press+Start+2P&family=Roboto+Mono&family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
    {% csrf_token %}
    {% block header_block %}
    <header>
        <nav id="nav-bar">
            <div class="nav-wrapper">
                <a href="{% url 'list_builder:default_redirect' %}" class="brand-logo logo1">
                    Movie Match{% block header_subtitle %}{% endblock %}
                </a>
                <a href="#" data-target="side-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{% url 'list_builder:list_builder' %}">New List</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'list_builder:list_manager' %}">Manage Lists</a></li>
                    <li><a class="user-name dropdown-trigger" href="#" data-target="logged-in-options"><i class="material-icons left">account_circle</i>{{user.username}}<i class="material-icons right">arrow_drop_down</i></a></li>
                    <div id="logged-in-options" class="dropdown-content">
                        <div class="cyber-grade">
                            <ul>
                                <li><a href="{% url 'login_and_reg:settings' %}">Settings</a></li>
                                <li><a href="{% url 'login_and_reg:logout' %}">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    {% else %}
                    <li><a class="dropdown-trigger" href="#!" data-target="login-form">Login<i class="material-icons right">arrow_drop_down</i></a></li>
                    <div id="login-form" class="dropdown-content">
                        {% include "_login_form.html" with pre_id="nav" %}
                    </div>
                    {% endif %}
                    <li><a class="modal-trigger" href="#about-modal"><i class="material-icons">help_outline</i></a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <ul class="sidenav cyber-grade hide-on-large-only" id="side-menu">
        {% if user.is_authenticated %}
        <li><a class="user-name" href="#"><i class="material-icons">account_circle</i>{{user.username}}</a></li>
        <li><a href="{% url 'login_and_reg:settings' %}">Settings</a></li>
        <li><a href="{% url 'login_and_reg:logout' %}">Logout</a></li>
        {% else %}
        <li>
            <ul id="login-form-sidenav" class="collapsible">
                <li>
                    <div class="collapsible-header">Login<i class="material-icons right">arrow_drop_down</i></div>
                    <div class="collapsible-body">
                        {% include "_login_form.html" with pre_id="side" %}
                    </div>
                </li>
            </ul>
        </li>
        {% endif %}
        <div class="divider"></div>
        <li><a href="{% url 'list_builder:list_builder' %}">New List</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'list_builder:list_manager' %}">Manage Lists</a></li>
        {% endif %}
        <li><a class="modal-trigger" href="#about-modal"><i class="material-icons">help_outline</i></a></li>
    </ul>
    {% endblock %}
    {% include "_about_modal.html" %}
    {% block content_block %}{% endblock %}
    {% block script_block %}
    {% include "_resource_paths.html" %}
    {% include "_url_paths.html" %}
    <script type="module" src="{% static 'js/base/index.js'%}"></script>
    {% endblock %}
</body>

</html>