<div id="save-modal" class="modal cyber-grade">
    <div class="modal-content">
        <form id="save-form" action="{% url 'list_builder:save_list' %}" method="POST">
            <div class="input-field">
                <input id="list-name" name="list-name" class="center-align" type="text">
                <label for="list-name">List Name</label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" id="save-list-confirm" form="save-form" class="neon-cyan neon-glow-hover waves-effect waves-light btn-large btn-rounded"><i class="material-icons left">save</i>Save</button>
        <button type="button" class="modal-close orange-text text-darken-3 waves-effect waves-dark btn-flat"><i class="material-icons left orange-text text-darken-3">close</i>Cancel</button>
    </div>
</div>