<div id="account-delete-modal" class="modal cyber-grade">
    <div class="modal-content pink-text text-darken-2">
        <h5>Are you sure you want to <span id="list-name-delete" class="orange-text text-darken-3">delete</span> your account?</h5>
        <form id="account-delete-form" action="{% url 'login_and_reg:delete_account' %}" method="post">
            <div class="input-field">
                <input id="account-delete-verification-password" name="account-delete-verification-password" class="center-align" type="password">
                <label for="account-delete-verification-password">Password</label>
            </div>
            <p>
                <label>
                    <input type="checkbox" id="account-delete-verification-check" name="account-delete-verification-check" />
                    <span class="orange-text text-darken-3">I understand that this action cannot be undone.</span>
                </label>
            </p>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" form="account-delete-form" id="account-delete-confirm" class="neon-cyan neon-glow-hover waves-effect waves-light btn-large btn-rounded"><i class="material-icons left">delete</i>Delete</button>
        <button class="modal-close orange-text text-darken-3 waves-effect waves-dark btn-flat"><i class="material-icons left orange-text text-darken-3">close</i>Cancel</button>
    </div>
</div>