<div id="change-password-modal" class="modal cyber-grade">
    <div class="modal-content pink-text text-darken-2">
        <h5>Verify your old password, and then enter your new one.</h5>
        <form action="#" id="change-password-form">
            <div class="input-field">
                <input id="change-password-current-password" name="change-password-current-password" class="center-align" type="password">
                <label for="change-password-current-password">Current Password</label>
            </div>
            <div class="input-field">
                <input id="change-password-new-password" name="change-password-new-password" class="center-align" type="password">
                <label for="change-password-new-password">New Password</label>
            </div>
            <div class="input-field">
                <input id="change-password-confirm-new-password" name="change-password-confirm-new-password" class="center-align" type="password">
                <label for="change-password-confirm-new-password">Confirm New Password</label>
            </div>
        </form>
        <h6 class="center-align">You will be asked to log in again after.</h6>
    </div>
    <div class="modal-footer">
        <button type="submit" form="change-password-form" id="change-password-confirm" class="neon-blue-hover waves-effect waves-light btn-large btn-rounded"><i class="material-icons left">lock_open</i>Submit</button>
        <button class="modal-close orange-text text-darken-3 waves-effect waves-dark btn-flat"><i class="material-icons left orange-text text-darken-3">close</i>Cancel</button>
    </div>
</div>