<div id="change-password-modal" class="modal cyber-grade">
    <div class="modal-content pink-text text-darken-2">
        <h5>Verify your old password, and then enter your new one.</h5>
        <form action="#" id="change-password-form">
                {% csrf_token %}
                {% include "form_template.html" with form=change_password_form %}
        </form>
        {# <h6 class="center-align">You will be asked to log in again after.</h6> #}
    </div>
    <div class="modal-footer">
        <button type="submit" form="change-password-form" id="change-password-confirm" class="neon-cyan neon-glow-hover waves-effect waves-light btn-large btn-rounded"><i class="material-icons left">lock_open</i>Submit</button>
        <button class="modal-close orange-text text-darken-3 waves-effect waves-dark btn-flat"><i class="material-icons left orange-text text-darken-3">close</i>Cancel</button>
    </div>
</div>