{% extends "base.html" %}

{% block content_block %}
    <main class="container">
        <div id="account-options" class ="cyber-grade white-text" style="font-family: 'Montserrat'">
            <h3>Account Options</h3>
            <button id="change-nickname-btn" class="btn-large btn-rounded neon-blue-hover">Change Nickname</button>
            <button class="btn-large btn-rounded neon-blue-hover">Change Email</button>
            <button class="btn-large btn-rounded neon-blue-hover">Change Password</button>
            <button class="btn-large btn-rounded neon-blue-hover">Reset Password</button>
            <hr>
            <button id="account-delete-btn" class="btn-large btn-rounded neon-blue-hover">Delete Account</button>
        </div>
    </main>

    <!-- Modal Structure -->
    {% include "login_and_reg/_account_delete_modal.html"%}
    {% include "login_and_reg/_change_nickname_modal.html"%}

{% endblock %}
{% block script_block %}
    {% load static %}
    {{ block.super }}
    <script src="{% static 'login_and_reg/js/account_delete_modal.js'%}"></script>
    <script src="{% static 'login_and_reg/js/change_nickname_modal.js'%}"></script>
{% endblock %}