{% extends "base.html" %}

{% block content_block %}
    <main class="container">
        <div id="account-options" class ="cyber-grade white-text" style="font-family: 'Montserrat'">
            <h3>Account Options</h3>
            <button class="btn-large btn-rounded neon-blue-hover">Change Password</button>
            <button class="btn-large btn-rounded neon-blue-hover">Reset Password</button>
            <button class="btn-large btn-rounded neon-blue-hover">Change Nickname</button>
            <button class="btn-large btn-rounded neon-blue-hover">Change Email</button>
            <hr>
            <button class="btn-large btn-rounded neon-blue-hover">Delete Account</button>
        </div>
    </main>
{% endblock %}
{% block script_block %}
    {{ block.super }}
    {% load static %}
{% endblock %}