{% extends "base.html" %}
{% load static %}
{% load bundled_url %}

{% block content_block %}
    <main class="container">
        <form id="registration-form" class ="cyber-grade" action="{% url 'login_and_reg:register' %}" method="POST">
            {% csrf_token %}
            {% include "form_template.html" with form=user_form %}
            {% include "form_template.html" with form=persona_form %}
            <button class="neon-cyan neon-glow-hover btn-large btn-rounded" type="submit">Register</button>
        </form>
    </main>
{% endblock %}
{% block script_block %}
    {% bundle_tag 'login_and_reg/js/registration/index.js' block.super %}
{% endblock %}