{% extends "base.html" %}

{% block content_block %}
    <main class="container">
        <form id="registration-form" class ="cyber-grade" action="{% url 'login_and_reg:register' %}" method="post">
            {% csrf_token %}
            {% include "form_template.html" with form=user_form %}
            <button class="neon-blue-hover btn-large btn-rounded" type="submit">Register</button>
        </form>
    </main>
{% endblock %}
{% block script_block %}
    {{ block.super }}
    {% load static %}
    <script src="{% static 'login_and_reg/js/register.js'%}"></script>
{% endblock %}